.mat-icon {
  width: 2em !important;
  height: 2em !important;
  font-size: 2em !important;
}
button {
  margin-inline: 2em;
}

.album-image {
  display: flex;
  flex-direction: row;
}

.image-button {
  display: flex;
  flex-direction: column;
}

.button{
  text-align: center;
}


div {
  margin: 1em;
}

li {
  display: flex;
  flex-direction: row;
  .mat-icon {
    width: 1em !important;
    height: 1em !important;
    font-size: 1em !important;
  }

  button {
    padding-inline: 1em;
  }
}
